.centered {
    text-align: center;
    margin: auto;
}

.bg-dark {
    background-color: rgb(70, 69, 69);
    color: white;
}
.collapse {
    transition: height 0.3s ease-in-out;
}
.topImg {
    max-width: 1400px;
    margin: auto;
    height: 700px;
}
.midImg {
    height: 230px;
    width: 100%;
}
.midImg:hover {
    opacity: 0.8;
}
.midCol {
    text-align: center;
}
.nav-link {
    min-width: 125px;
    display: block;
}

.stadium {
    font-size: 2rem;
    color: rgb(92, 92, 92);
    font-family: "Times New Roman", Times, serif;
}
.fieldName {
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    color: rgb(92, 92, 92);
}
.explanation {
    font-weight: 100;
    font-family: "Times New Roman", Times, serif;
    color: rgb(133, 132, 132);
}
.imgText {
    font-weight: 500;
    font-size: 3.9rem;
    color: aliceblue;
}
.carousel-caption {
    position: absolute;
    top: 40%;
    left: 50%;
}
.bottomText {
    font-size: 0.8rem;
    color: rgb(136, 136, 136);
    margin-bottom: 5%;
}
.bottomHead {
    margin-bottom: 0%;
}
.scrollable-card {
    max-height: 150px;
    overflow-y: auto;
}
.modal-title-centered {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}
.imgButton {
    height: 50px;
    width: 140px;
}
