.centered {
    text-align: center;
    margin: auto;
}

.bg-dark {
    background-color: rgb(70, 69, 69);
    color: white;
}

.collapse {
    transition: height 0.3s ease-in-out;
}

.topImg {
    max-width: 1400px;
    margin: auto;
    height: 700px;
}

.midImg {
    height: 230px; /* 또는 220px 중 원하는 값을 선택 */
    width: 100%;
}

.midImg:hover {
    opacity: 0.8;
}

.midCol {
    text-align: center;
}

.nav-link {
    min-width: 125px; /* 최소 너비 125px */
    display: block; /* 블록 요소로 설정하여 너비가 적용되도록 함 */
}

.stadium {
    font-size: 2rem;
    color: rgb(92, 92, 92);
    font-family: "Times New Roman", Times, serif;
}

.fieldName {
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    color: rgb(92, 92, 92);
}

.explanation {
    font-weight: 100;
    font-family: "Times New Roman", Times, serif;
    color: rgb(133, 132, 132);
}

.imgText {
    font-weight: 500;
    font-size: 3.9rem; /* 또는 3rem 중 원하는 값을 선택 */
    color: aliceblue;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    left: 50%;
}

.bottomText {
    font-size: 0.8rem;
    color: rgb(136, 136, 136);
    margin-bottom: 5%;
}

.bottomHead {
    margin-bottom: 0%;
}

.scrollable-card {
    max-height: 150px;
    overflow-y: auto;
}

.modal-title-centered {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

.imgButton {
    height: 50px;
    width: 140px;
}
.loginWrap{
    max-width: 60%;
    text-align: center;
    margin: auto;
    background-color: bisque;
    margin-top: 30%;
    height: 500px;
}
.loginTopText{
    font-size: 2rem;
    padding-top: 8%;
    padding-bottom: 3%;
    font-weight: bold;
}
.loginBody{
    max-width: 80%;
    margin: auto;
}
.loginButton{
    height: 70px;
    width: 80px;
    border-radius: px;
}